@define-color l5 transparent;
@define-color l4 #1a000d;
@define-color l3 #33001a;
@define-color l2 #4d0026;
@define-color l1 #660033;

#workspaces {
  background:
    linear-gradient(-30deg, @l2 25px, @l1 25px);
  padding-top: 5px;
  padding-bottom: 30px;
}

#workspaces button {
  border-radius: 0px;
}

#workspaces button.focused {
  background: linear-gradient(90deg, @view_fg_color 6px, transparent 6px);
}

#tray {
  background: linear-gradient(-30deg, @l5 25px, @l2 25px);
  padding-bottom: 30px;
}

#pulseaudio {
  background: linear-gradient(-150deg, @l5 25px, @l4 25px);
  padding-top: 30px;
}

#cpu {
  background: linear-gradient(-150deg, @l5 25px, @l3 25px);
  padding-top: 30px;
}

#backlight {
  background: linear-gradient(-150deg, @l4 25px, @l3 25px);
  padding-top: 30px;
}

#battery,
#memory {
  background: linear-gradient(-150deg, @l3 25px, @l2 25px);
  padding-top: 30px;
}

#clock {
  background:
    linear-gradient(-150deg, @l2 25px, @l1 25px);
  font-family: "Hack Nerd Font";

  padding-top: 30px;
  padding-bottom: 7px;
}

window#waybar {
  background: @l5;
}